:root {
    --main-color: darkblue;
    --darkest: black;
    --brightest: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

nav {
    background-color: var(--main-color);
    padding: 10px;
}
nav a {
    color: var(--brightest);
    display: block;
    padding: 20px;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid var(--darkest);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}


main img {
    width: 120px;
    height: auto;
    float: right;
    margin-left: 10px;
}


h1 {
    color: var(--main-color);
}



aside {
    width: 20rem;
    text-align: center;
    position: relative;
}
aside img {
    width: 200px;
    height: auto;
}
aside h2 {
    position: absolute;
    top: 20px;
    right: 65px;
}

footer {
    margin-top: 20px;
    border-top: 2px dotted var(--darkest);
    text-align: center;
}
/* Class Selectors*/

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 255, 0.932);
    padding: 1rem;
    background-color: rgba(45, 224, 255, 0.13);
    color: var(--darkest);
}

