:root {
    --main-color: darkblue;
    --darkest: black;
    --brightest: white;
}

nav {
    background-color: var(--main-color);
    padding: 10px;
}
nav a {
    color: var(--brightest);
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}
h1 {
    color: var(--main-color);
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--darkest);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0;
}

aside {
width: 20rem;
margin: 1rem;
border: 1px solid rgb(0 0 0 /0.2);
padding: 1rem;
background-color: #eee;
color: #333;
text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 20px;
    border-top: 2px dotted var(--darkest);
    text-align: center;
}

